<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="magezil_order_post_api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Api</label>
            <tab>magezil</tab>
            <resource>Magezil_OrderPostApi::config_order_post_api</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment>Api key: 1234xx2x444xxxxx55555xxx</comment>
                    <depends>
                        <field id="magezil_order_post_api/general/enable">1</field>
                    </depends>
                </field>
                <field id="endpoint" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Endpoint</label>
                    <comment>Endpoint: sales/add</comment>
                    <depends>
                        <field id="magezil_order_post_api/general/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
